*,
*::after,
*::before {
	box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

:root {
	font-size: 16px;
}

body {
	/* font-family: "Roboto", serif; */
	margin: 0;
	--color-text: #fff;
	--color-bg: #161616;
	--color-link: #b3b3b3;
	--color-link-hover: #000;
	--color-deco: #e4dbd6;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: paralucent, sans-serif;
	font-family: quiroh, sans-serif;
	font-family: mr-eaves-xl-sans, sans-serif;
	/* cursor: none; */
}

.custom-cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 50%;
	pointer-events: none;
	mix-blend-mode: difference;
	transform: translate(-50%, -50%);
	transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease, border 0.2s ease;
}

a:hover,
button:hover {
	cursor: auto;
}

.header {
	background: #161616e0;
	height: 63px;
	position: fixed;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -100px;
	opacity: 0;
	border-radius: 0 0 10px 10px;
	display: none;
	width: 50vw;
	gap: 1rem;
	left: 25vw;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

[data-scroll] {
	will-change: transform;
}

.frame {
	padding: 2.5rem 3rem;
	position: absolute;
	z-index: 10;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 2.5rem;
}

.frame__links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.frame a {
	margin: 0.25rem 0;
	text-transform: lowercase;
}

.frame__github,
.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

.frame__demos {
	margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
	color: var(--color-text);
}

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	/* align-items: center; */
	padding: 0;
	counter-reset: figure;
}

.item {
	/* margin: 10vh auto; */
	margin: 1rem;
	max-width: 100%;
	position: relative;
	will-change: transform;
	/* min-height: 100vh; */
	/* width: 100%; */
	height: 100vh;
	/* padding: 3rem; */
}

.item__img-wrap {
	--aspect-ratio: 1/1.5;
	overflow: hidden;
	width: 500px;
	/* margin: 0 auto; */
	padding-bottom: calc(100% / (var(--aspect-ratio)));
	max-width: calc(100% - 2rem);
	will-change: transform;
}

.item:first-child .item__img-wrap {
	--aspect-ratio: 8/10;
	--image: url('../img/main-image.webp');
}

.item:nth-child(2) .item__img-wrap {
	--aspect-ratio: 1;
	--image: url('../img/main-image.webp');
}

.item:nth-child(3) .item__img-wrap {
	--aspect-ratio: 60/75;
	--image: url('../img/park.webp');
}

.item:nth-child(4) .item__img-wrap {
	--aspect-ratio: 2;
	--image: url('../img/park.webp');
}

.item:nth-child(5) .item__img-wrap {
	--aspect-ratio: 2;
	--image: url('../img/interior.webp');
}

.item:nth-child(6) .item__img-wrap {
	/* width: calc(100vw - 2rem); */
	--aspect-ratio: 5;
	/* width: 100vw; */
	--image: url('../img/bg-contact.webp');
}

.item .item__img-wrap.nine {
	--aspect-ratio: 1.2;
	--image: url('../img/team/1-Albert.webp');
}

.item .item__img-wrap.ten {
	--aspect-ratio: 1.2;
	--image: url('../img/team/2-Shani.webp');
}

.item .item__img-wrap.eleven {
	--aspect-ratio: 1.2;
	--image: url('../img/team/3-Shahar.webp');
}

#contact {
	height: 100%;
}

.relative {
	position: relative;
}

.ovelray-end {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	background-color: #16161677;
	z-index: 1;
}

.item__img {
	--overflow: 40px;
	height: calc(100% + (2 * var(--overflow)));
	top: calc(-1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-image: var(--image);
	background-size: cover;
	background-position: 50% 0%;
	will-change: transform;
}

.item__img--t1 {
	--overflow: 60px;
}

.item__img--t2 {
	--overflow: 1px;
}

.item__img--t3 {
	--overflow: 150px;
}

.item__img--t6 {
	--overflow: 60px;
}

.item__img--t10 {
	--overflow: 10px !important;
}

.item__img--t11 {
	--overflow: 10px !important;
}

.item__img--t12 {
	--overflow: 10px !important;
}

.item__caption {
	padding: 1rem;
}

.item__caption-title {
	font-family: paralucent, sans-serif;
	font-weight: 400;
	font-size: 3rem;
	margin: 0;
}

.item__caption-copy {
	margin: 0;
}

.item__caption-copy::before {
	content: '__';
	line-height: 1;
	color: var(--color-link);
	font-weight: 700;
	font-size: 3rem;
	margin: 0 0 1rem;
	display: block;
}

.fade-text {
	opacity: 0;
	color: white;
	filter: blur(10px);
	z-index: 10;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.svg-holder {
	opacity: 0;
	filter: blur(10px);
	z-index: 10;
	width: 90vw;
	position: absolute;
	bottom: 5vh;
}

._top {
	font-size: 0.5rem;
}

.section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	flex-direction: column;
	height: 95vh;
	overflow: hidden;
	min-height: 95vh;
}

#myVideo {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

.skew-up {
	opacity: 0;
	font-size: 2rem;
}

.skew-up.desc {
	opacity: 0;
	font-size: 1rem;
	line-height: 1.5;
	padding: 10px;
}

.word-line {
	overflow: hidden;
	display: block;
}

.max-width-large {
	width: 100%;
	max-width: 48rem;
}

.max-width-medium {
	width: 100%;
	max-width: 36.5rem;
}

.menu_item {
	color: white;
	background: transparent;
	border: none;
	outline: none;
	font-size: 10px;
	font-family: inherit;
	cursor: pointer;
	height: 100%;
}

.overlay_section {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	z-index: -2;
	background: linear-gradient(#000000, #1c1d2b);
	/* background: linear-gradient(#00000000, #000000); */
}

#about {
	background-image: url('../img/main-image.webp');
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 30px;
}

.item .overlay {
	position: absolute;
	background-color: #1c1d2be8;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
}

.desc-to {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	line-height: 1.5;
}

.holder-sec-one {
	position: relative;
	width: 100%;
}

.border-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 0;
	background-color: rgba(255, 255, 255, 0.212);
}

.slider-container {
	overflow-x: auto;
	scroll-behavior: smooth;
	white-space: nowrap;
	display: flex;
	gap: 20px;
	padding: 20px;
	height: 100%;
	align-items: center;
	position: relative;
}

.slider-container::-webkit-scrollbar {
	display: none;
}

#sliderSection {
	display: flex;
	height: 50vh;
}

#sliderSection .left,
#sliderSection .right {
	width: 100%;
}

.slide {
	min-width: 400px;
	height: 300px;
	background: linear-gradient(45deg, #ff6b6b, #ffcc5c);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: start;
	align-items: end;
	font-size: 0.8rem;
	color: rgb(0, 0, 0);
	user-select: none;
	padding: 10px;
	transition: transform 0.5s ease-out;
}

.slide:hover {
	transform: scale(1.05);
	/* زوم ملایم */
}

.slider-btn {
	position: absolute;
	top: calc(50% + 190px);
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	z-index: 100;
}

#prevBtn {
	left: 10px;
}

#nextBtn {
	left: 60px;
}

.slider-btn:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

#sliderSection .left {
	line-height: 1.5;
	display: flex;
	align-items: center;
}

.font-large {
	font-size: 3rem;
	font-weight: bold;
}

.border-bottom {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.212);
	transition: width 0.5s ease;
}

.border-bottom-2,
.border-bottom-3 {
	top: 0;
	left: 0;
	position: absolute;
	width: 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.212);
	transition: width 0.5s ease;
}

.holder-border-text {
	top: -10px;
	left: 0;
	position: absolute;
	/* width: 125px; */
	width: auto;
	background-color: #161616;
	font-family: "Roboto", serif;
	z-index: 10;
	text-transform: uppercase;
	font-size: small;
	letter-spacing: 3px;
	padding: 1px;
	color: rgba(255, 255, 255, 0.212);
}

.link {
	font-size: 16px;
	line-height: 1.4em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background-size: 200%;
	transition: .5s ease-out;
}

.link:hover {
	color: #fff;
}

.architecture {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.architecture .left {
	height: 50vh;
}

.architecture .left .item__img-wrap {
	height: 100%;
}

.architecture .right {
	position: relative;
	width: 100vw;
}

.parageraph {
	line-height: 1.5;
	font-size: 1.1rem;
}

.interior .left {
	text-align: left;
	display: flex;
	justify-content: center;
}

.holder-contact {
	position: relative;
	display: flex;
	height: 100%;
	flex-direction: column;
	gap: 33px;
	align-items: start;
	padding: 18px 0;
}

.border-top-contact {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.212);
	transform: scaleX(0);
	transform-origin: left;
}

.section-contact {
	flex: 1;
	width: 100%;
}

.one-pes {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}

.border-left-opes {
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.212);
	transform: scaleY(0);
	transform-origin: top;
	display: none;
}

.social-holder {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 15px;
	text-align: center;
}


.Copyright {
	font-size: 0.9rem;
	color: var(--color-link);
	margin-top: 0;
	font-family: roboto;
	text-align: center;
	padding: 15px 0;
	border-top: 1px solid;
	border-color: rgba(255, 255, 255, 0.212);
}

.input {
	border: 1px solid #ccc;
	background: none;
	padding: 6px;
	display: block;
	width: 100%;
	border-radius: 2px;
	color: white;
	outline: none;
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}

.btn-submit {
	background: white;
	border: none;
	padding: 6px 13px;
}

.handle-blog {
	height: auto;
}

.text-center {
	text-align: center;
}

.holder-blogs {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}

.holder-blogs .items {
	flex: 1;
	display: flex;
	align-items: start;
	justify-content: center;
}

.holder-blogs .items .title {
	padding: 10px;
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	margin-top: 20px;
}

.image-blog-holder {
	width: 80vw;
	height: 80vw;
	overflow: hidden;
}

.holder-items {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.portfolio-section {
	height: auto;
}

.portfolio-sction-wrapper {
	padding: 1rem 10px;
}

.in-wrapper-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 16px;
}

.portfolio-item {
	position: relative;
	overflow: hidden;
	aspect-ratio: 4 / 5;
	border-radius: 8px;
	background-color: #1c1d2b;
}

/* .portfolio-item img:first-child { */
/* .portfolio-item img { */
.portfolio-item .img-src {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-holder-portfolio {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.overlay-portfolio {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	opacity: 0;
	flex-direction: column;
	gap: 10px;
}

.title-portfolio {
	font-size: 1rem;
}

.desc-portfolio {
	font-size: 0.8rem;
	color: #ccc;
}

.year-portfolio {
	font-size: 0.8rem;
	color: #ccc;
}

.menu-button {
	position: fixed;
	top: 15px;
	left: 15px;
	background: #16161680;
	color: white;
	border: none;
	padding: 7px;
	cursor: pointer;
	z-index: 10;
	opacity: 1;
	transition: opacity 0.3s ease;
	border-radius: 2px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 37vw;
	height: 100vh;
	background: #222222d2;
	color: white;
	padding: 20px;
	transform: translateX(-100%);
	box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
	z-index: 20;
}

.close-button {
	background: none;
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
	z-index: 20;
	position: fixed;
}

.nav-links {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.nav-links .menu_item {
	font-size: 1rem;
	padding: 12px;
}

.empty-box {
	height: 200px;
	width: 100%;
}

/* slider style */

.arta-slider-container {
	position: relative;
	width: 35%;
	max-width: 800px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.arta-slider-wrapper {
	display: flex;
	overflow: hidden;
	width: 100%;
}

.arta-slide-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
	width: max-content;
	gap: 9px;
}

.arta-slide-item {
	flex: 0 0 100%;
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

/* دکمه‌های ناوبری */
.arta-slider-container button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 5px;
}

.arta-prev {
	left: 10px;
}

.arta-next {
	right: 10px;
}

.arta-slider-container button:hover {
	background: rgba(0, 0, 0, 0.8);
}

#team {
	height: auto;
}

.holder-team {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	margin-top: 25px;
}

.team-name{
	text-align: center;
	padding: 30px 0;
	font-size: 1.2rem;
}

/* تغییرات برای تبلت */
@media (min-width: 768px) {
	._top {
		font-size: 1rem;
	}
}

/* تغییرات برای دسکتاپ */
@media (min-width: 1024px) {
	._top {
		font-size: 2rem;
	}

	#sliderSection .left {
		width: 30%;
	}

	#sliderSection .right {
		width: 70%;
	}

	.item {
		margin: 2rem;
	}

	#sliderSection {
		height: 60vh;
	}

	.font-large {
		font-size: 4rem;
	}

	.architecture .right {
		width: 50vw;
	}

	.portfolio-sction-wrapper {
		padding: 4rem 15rem;
	}

	.in-wrapper-section {
		grid-template-columns: repeat(2, 1fr);
		gap: 26px;
	}

	.title-portfolio {
		font-size: 1.8rem;
	}

	.desc-portfolio {
		font-size: 1rem;
	}

	.header {
		display: flex;
	}

	.menu_item {
		font-size: 1rem;
	}

	.architecture {
		flex-direction: row;
	}

	.holder-blogs {
		flex-direction: row;
	}

	.handle-blog {
		height: 100vh;
	}

	.image-blog-holder {
		width: 400px;
		height: 500px;
	}

	.holder-blogs .items .title {
		font-size: 0.9rem;
		letter-spacing: 1px;
		padding: 0 90px;
	}

	#about {
		flex-direction: row;
		height: 100vh;
		padding: 0;
	}

	.skew-up {
		font-size: 3rem;
	}

	.holder-sec-one {
		width: auto;
	}

	.menu-button,
	.sidebar {
		display: none;
	}

	.svg-holder {
		width: 40vw;
	}

	a:hover,
	button:hover {
		cursor: none;
	}

	#contact {
		height: 50vh;
	}

	.holder-contact {
		flex-direction: row;
		align-items: center;
		padding: 0;
	}

	.border-left-opes {
		display: block;
	}

	.input {
		width: 20vw;
	}

	.section {
		height: 100vh;
		min-height: 100vh;
	}

	.desc-to {
		width: 50vw;
	}

	.skew-up.desc {
		font-size: 1.5rem;
	}

	.empty-box {
		height: auto;
		width: 100%;
	}

	.one-pes {
		justify-content: center;
	}

	.social-holder {
		flex-direction: column;
	}

	.arta-slide-item {
		flex: 0 0 30%;
		width: calc(100% / 3);
	}

	.arta-slider-container {
		position: relative;
		width: 77%;
	}

	.architecture {
		height: 70vh;
	}

	.holder-team {
		flex-direction: row;
	}
	#team {
		height: 70vh;
	}

}

/* فقط برای نمایشگر حدود 1583px */
@media (min-width: 1400px) and (max-width: 1600px) {
	.arta-slider-container {
		width: 60%;
	}

	.arta-slide-item {
		flex: 0 0 50%;
		width: calc(100% / 2);
	}
}

/* فقط برای نمایشگر حدود 1903px */
@media (min-width: 1601px) and (max-width: 1903px) {
	.arta-slider-container {
		width: 77%;
	}
}


@media (min-width: 1920px) {
	._top {
		font-size: 3rem;
	}

	.item {
		margin: 3rem;
	}

	.font-large {
		font-size: 5rem;
	}
}